.side-bar-contianer{
    background-color: var(--Primary-Container);
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    right: -21px;
    top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    .side-bar-content{
        width: 26px;
        background-color: var(--primary);
        color: var(--on-primary);
        height: 26px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary);
        color: var(--on-primary);

    }
}