@font-face {
  font-family: "IRANYekan-Black";
  src: url("../../../assets/fonts/IRANYekanX-Black.ttf") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekan-Bold";
  src: url("../../../assets/fonts/IRANYekanX-Bold.ttf") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekan-DemiBold";
  src: url("../../../assets/fonts/IRANYekanX-DemiBold.ttf") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekan-ExtraBlack";
  src: url("../../../assets/fonts/IRANYekanX-ExtraBlack.ttf") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekan-ExtraBold";
  src: url("../../../assets/fonts/IRANYekanX-ExtraBold.ttf") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekan-Heavy";
  src: url("../../../assets/fonts/IRANYekanX-Heavy.ttf") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekan-Light";
  src: url("../../../assets/fonts/IRANYekanX-Light.ttf") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekan-Medium";
  src: url("../../../assets/fonts/IRANYekanX-Medium.ttf") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekan-Regular";
  src: url("../../../assets/fonts/IRANYekanX-Regular.ttf") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}




@font-face {
  font-family: "IRANYekan-Thin";
  src: url("../../../assets/fonts/IRANYekanX-Thin.ttf") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekan-UltraLight";
  src: url("../../../assets/fonts/IRANYekanX-UltraLight.ttf") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
